DATABASE_URL="file:./prisma/dev.db"
JWT_SECRET="GENERAR_CON_node_-e_require('crypto').randomBytes(64).toString('hex')"
APP_PORT=3200
CORS_ORIGIN="http://localhost:3100"
NEXT_PUBLIC_API_URL="http://localhost:3200/api"
